.menu-container{
    margin: 0 auto;
    width: 100%;
}

.text-container {
    width: 75%;
    text-align: left;
}

.flex-box-container-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.image-container {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    height: 100%;
}

.bg {
    background-image: url(https://images.unsplash.com/photo-1510148199876-8a856ee41d42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header, .header-2 {
    background-color: #3F3F3F;
    text-align: center;
    padding: 7px;
  }

  .website-header{
      text-align: center;
      padding: 0px;
      background-color: #c9c9c9;
  }

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
      .website-header img {
          width: 55%;
          height: 30%;
      }
  }

  .modal-content {
      background-image: url(http://www.themeadhall.net/p/2018/05/best-photos-of-mexican-restaurant-menu-backgrounds-mexican-regarding-dinner-menu-background-2018.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .website-header img {
        width: 25%;
        height: 35%;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C9C9C9;
    color: #3F3F3F;
}

.footer li{
    list-style: none;
    display: inline;
    float: left;
}

.footer a{
    text-decoration: none;
    color: #3F3F3F;
    display: block;
    padding: 8px;
}

.container {
    margin-right: auto;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}