{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'menu/style.css' %}">

</body>
</html>

    <title>Home Page</title>
</head>
<body class="bg">

    <div>
        <div class="header">

        </div>

        <div class="website-header">
            <img src="static/images/loeberkitchenlogo2.png" alt="" height="200px" width="250px">
        </div>
            
        <div class="header-2">
            
        </div>
    </div>

{% for menu in menus %}
    <div>
        <h1><button type="button" data-toggle="modal" data-target="#modal-{{menu.id}}">{{ menu.name }}</button></h1>
    </div>
    {% include 'menu/menu-modal.html' %}
{% endfor %}

<div class="footer">
    <div class="container">
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Nutrition</a></li>
                <li><a href="">Terms and Conditions</a></li>
                <li><a href="">Privacy Policy</a></li>
            </ul>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
<script src="{% static 'menu/script.js' %}"></script>

</body>

</html>